<div class="modal">
  <header>
    <h2>{{ modalStatus === 'signup' ? 'Signup' : 'Login' }}</h2>
  </header>
  <form [action]="getApiPath()" method="post" (submit)="handleSubmit($event)">
    <label *ngIf="modalStatus === 'signup'">Email:</label>
    <input *ngIf="modalStatus === 'signup'" type="text" name="email">
    <label *ngIf="modalStatus === 'signup'">Name</label>
    <input *ngIf="modalStatus === 'signup'" type="text" name="name">
    <label>Username:</label>
    <input type="text" name="username">
    <label>Password:</label>
    <input type="password" name="password">
    <input type="submit" value="SUBMIT">
  </form>
  <div class="toggle-modal" (click)="toggleModal()">{{
    modalStatus === 'signup'
      ? 'Already have an account? Login!'
      : 'Don\'t have an account? Signup!' 
  }}</div>
</div>