@import "../../sass/mixins";

:host(app-navbar) {
    width: 100%;
    color: white;
    background-color: #004f52;
    box-shadow: 0 0 5px black;
    display: grid;
    grid-template-columns: auto 1fr;
    color: black;
    height: 60px;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    font-size: 32px;
    a {
        color: white;
        text-decoration: none;
        cursor: pointer;
        margin: 0 20px;
        &:hover {
            // background-color: lighten(#004f52, 5%);
            text-shadow: 0 0 3px white;
        }
    }
}

.login-signup {
    justify-self: right;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 10px;
    button {
        @include button;
        margin-top: 0;
        margin-bottom: 0;
    }
}