<nav>
  <a routerLink="" class="fas fa-home"></a>
  <a routerLink="users" class="fas fa-users"></a>
  <a routerLink="posts" class="fas fa-comment-alt"></a>
</nav>
<div class="login-signup">
  <button class="login" value="login" (click)="showModal('login')">
    LOG IN
  </button>
  <button class="signup" value="signup" (click)="showModal('signup')">
    SIGN UP
  </button>
</div>
<app-login-modal
  [hidden]="!modalStatus"
  [selectedForm]="modalStatus"
  (click)="handleClick($event)"
  (showModal)="showModal($event)"
  (hideModal)="hideModal($event)"
>
</app-login-modal>