<nav>
  <a routerLink="" class="fas fa-home"></a>
</nav>
<div class="login-signup">
  <button *ngIf="!loggedIn" class="login" value="login" (click)="setModal('login')">
    LOG IN
  </button>
  <button *ngIf="!loggedIn" class="signup" value="signup" (click)="setModal('signup')">
    SIGN UP
  </button>
  <div *ngIf="loggedIn" class="username">
    @{{ user.username }}
  </div>
  <button *ngIf="loggedIn" class="logout" value="logout" (click)="logout()">
    LOG OUT
  </button>
</div>
<app-login-modal *ngIf="!loggedIn"
  [modalState]="modalState"
  [setModal]="setModal"
  [login]="login"
  [signup]="signup"
>
</app-login-modal>