<div class="feed" *ngIf="feed && feed[0]">
    <div class="post" *ngFor="let post of feed">
        <div class="votes">
            <div class="score">{{ post.score }}</div>
            <div class="vote-btns">
                <i class="far fa-arrow-alt-circle-up"></i>
                <i class="far fa-arrow-alt-circle-down"></i>
            </div>
        </div>
        <h3>{{ post.title }}<a href="#">@{{ post.user.username }}</a></h3>
        <div class="content">{{ post.content }}</div>
    </div>
</div>
