@import "../../sass/vars";

:host(app-home-page) {
    display: grid;
}

.feed {
    justify-self: center;
    background-color: #fefefe;
    border-radius: 5px;
    box-shadow: 0 0 1px black;

    height: max-content;
    width: 100vw;
    max-width: 700px;
    margin: 30px;
    .post {
        display: grid;
        grid-template: auto auto / auto 1fr;
        grid-template-areas:
            "votes title"
            "votes content";
        .votes {
            grid-area: votes;
            padding: 10px;
            display: grid;
            grid-template: auto / auto auto;
            grid-gap: 5px;
            justify-items: center;
            align-items: center;
            .vote-btns {
                font-size: 28px;
                display: grid;
                grid-template: auto auto / auto;
                grid-gap: 5px;
            }
        }
        h3 {
            grid-area: title;
            margin: 0;
            padding: 7px;
            display: grid;
            grid-template-columns: 1fr min-content;
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
            a {
                font-size: 14px;
                align-self: center;
                :visited {
                    color: initial;
                }
            }
        }
        .content {
            grid-area: content;
            font-size: 14px;
            padding: 15px;
        }
    }
}